* {
    color: #333;
    font-size: 14px;
}
body {
    align-self: center;
    margin: 0;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}
.markdown-body h2 {
    font-size: 23px;
}
.markdown-body h3 {
    font-size: 17px;
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}
ul:not(.markdown-body ul) {
    list-style: none;
    padding-inline-start: 0;
}
ul:not(.markdown-body ul) ul {
    padding-inline-start: 1.3rem;
}
.has-link:hover {
    color: #e5c2c0;
}
.sr-only {
    display: none;
}
div.min-h-150 {
    min-height: 150px;
}
div.min-h-300 {
    min-height: 300px;
}
